/* Colors ....
black #000000
Chinese Black  #141414
Eerie Black  #1B1B1B
White #FFFFFF
Anti-Flash white #F3F3F3
Chinese white #E1E1E1
*/

body {
  margin: 0;
  padding: 0;
  font-family: "Lisu Bosa", serif;
}

header {
  width: 100%;
}

.greeting {
  display: flex;
  margin: auto;
  margin-top: 4em;
  color: white;
  width: 500px;
  font-size: 36px;
  justify-content: center;
  opacity: 1;
  animation: fadeInAnimation 1s ease forwards;
  animation-delay: 1.5s;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1b1b;
  height: 1500px;
  background-image: url("/imgs/white-monitor.png");
  background-position-x: 250px;
  background-position-y: 625px;
  background-size: 1400px, 800px;
  background-repeat: no-repeat;
}
.main-title {
  display: flex;
  color: white;
  margin-left: 3em;
}
nav {
  display: flex;
  justify-content: center;
}

.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar-list li {
  display: inline-block;
  margin-right: 20px;
  color: white;
}
.main-page-middle {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  width: 600px;
  height: 200px;
  margin-right: 4em;
}
.main-page-middle p {
  color: #f3f3f3;
  font-size: 24px;
}
.main-page-bottom {
  height: 400px;
  background-color: #1b1b1b;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15rem;
}
.navbar-list li {
  margin-right: 4rem;
  font-size: 30px;
}
.navbar-list li a {
  color: white;
}
.about-me {
  opacity: 1;
  animation: fadeInAnimation 2s ease forwards;
  animation-delay: 4s;
}
.about-me-welcome {
  opacity: 1;
  animation: fadeInAnimation 2s ease forwards;
  animation-delay: 8s;
}
.about-me-sentence {
  opacity: 1;
  animation: fadeInAnimation 2s ease forwards;
  animation-delay: 6s;
}
.about-me-scroll {
  margin-left: 20px;
  opacity: 1;
  animation: fadeInAnimation 2s ease forwards;
  animation-delay: 9.5s;
}
.about-me-p-container {
  display: inline-flex;
}
.about-me-box-content {
  display: none;
  background-color: #000000;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white; /* Set the text color inside the box */
  font-size: 16px; /* Set the font size for the content inside the box */
  width: 700px;
  height: 380px;
  margin-top: 68px;
}
.skills-box-content {
  display: none;

  background-color: #000000;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white; /* Set the text color inside the box */
  font-size: 16px; /* Set the font size for the content inside the box */
  width: 700px;
  height: 380px;
  margin-top: 68px;
}

.projects-box-content {
  display: none;

  background-color: #000000;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white; /* Set the text color inside the box */
  font-size: 16px; /* Set the font size for the content inside the box */
  width: 700px;
  height: 380px;
  margin-top: 68px;
}
.skills-box-content.visible {
  display: block;
}

.about-me-box-content.visible {
  display: block;
}
.resume-box-content.visible {
  display: block;
}
.projects-box-content.visible {
  display: block;
}
.contact-box-content.visible {
  display: block;
}

a:visited {
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
}
.box-content {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  word-wrap: break-word;
}
.box-content p {
  border-right: 0.15em solid #ffffff; /* The white blinking cursor */
  animation: blink-caret 0.75s step-end infinite;
  color: white;
}

a:active {
  text-decoration: none;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}
